body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 100%;
    width: 100%;
    background-image: url(images/bass-guitar-1841186_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



section {
    height: 100%;
}

#story {
    background-color: rgb(59, 57, 61);  
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(201, 198, 204);
}

.text {
    font-size: 1.4vw;
    color: rgb(175, 170, 181);
    width: 70vw;
}

strong {
    color: rgb(240, 139, 24);
}

#cours {
    background-image: url(images/lesson.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body > p > i {
    font-size: 1.2em;
    color: rgb(240, 139, 24);
}

#cours {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: rgba(59, 57, 61, 0.7);
}

h2, h3, h6 {
    color: white;
    font-size: 1.4em;
}

#contact {
    background-color: rgb(59, 57, 61);
    color: rgb(240, 139, 24);
    display: flex;
    flex-direction: column;
}

span {
    color: rgb(201, 198, 204);
}